body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    margin: 0;
    background: url('images/stars.gif') no-repeat center center fixed; 
    background-size: cover; /* Resize the background image */
}

.container {
    margin: auto;
    width: 80%;
}

.container h1 {
    color: yellow;
}

.container h2 {
    color: yellow;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#imageContainer {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}
